@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-primary: rgba(79, 209, 197, 1);
  --color-primary: rgba(45, 170, 157, 1);
  --color-secondary: rgba(45, 55, 72, 1);
  --color-fond: rgba(248, 249, 250, 1);
  --color-degrade-from: rgba(49, 56, 96, 1);
  --color-degrade-to: rgba(21, 25, 40, 1);
}
