@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-primary: rgba(17, 42, 90, 1);
  --color-secondary: rgba(14, 116, 144, 1);
  --color-fond: rgba(12, 18, 32, 1);
  --color-degrade-from: rgba(17, 42, 90, 1);
  --color-degrade-to: rgba(30, 64, 150, 1);
}
