@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-brand: rgba(255, 192, 192, 1);
  --color-secondary: rgba(240, 240, 240, 1);
}
